
section.academic{
    padding: 4rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: var(--color-fundo-azul);    
}

h2.academic__title{
    margin: 0 0 2rem 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color:var(--color-titulos)
}

section.academic div.academic__courses{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: var(--color-titulos);
}

section.academic div.academic__courses div.academic__courses__box{
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
}

div.academic__courses__box ul.academic__courses__list{
    display: grid;
    grid-template-columns: 368px;
    grid-template-rows: 286px 40px 30px;
    margin: 0;
    padding: 0;
}


div.academic__courses__box ul{
    align-items: center;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
}


li.academic__courses__item__img{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;    grid-column: 1 / 1;
    height: 100%;
    background: var(--cpçpr-caixas);
}

img.logoFatec{
    width: 11.875rem;
    height: 3.125rem;
}

li.academic__courses__item__title {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

li.academic__courses__item__title h4{
    margin: 0;
    padding: 0;
}


li.academic__courses__item__subtitle{
    grid-column: 1 / 1;
    grid-row: 3 / 3;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

li.academic__courses__item__img img.logoBYUI{
    width: 130px;
}

@media screen and (max-width: 1024px){
    section.academic{
        padding: 2rem;
    }

    h2.academic__title{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
    }

    section.academic div.academic__courses{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    div.academic__courses__box ul.academic__courses__list{
        grid-template-columns: 14rem;
        grid-template-rows:   7.375rem 40px 30px
    }

    li.academic__courses__item__title h4{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }

    li.academic__courses__item__subtitle{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: initial;
    }

    .logoAlura{
        height: 3rem;
        width: 4.375rem;
    }

    li.academic__courses__item__img img.logoBYUI{
    width: 5.625rem;
    }

    img.logoFatec{
        height: 1.151rem;
        width: 4.375rem;
    }
}

@media screen and (max-width: 1024px){
    section.academic{
        padding: 1rem;
    }

    section.academic div.academic__courses{
        display: flex;
        flex-direction: column;
    }

    div.academic__courses__box ul.academic__courses__list{
        grid-template-columns: 18.5rem;
    }
}