/*Sessão Hobbies*/

section.hobbies{
    padding: 4rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: var(--cor-de-fundo);
}

h3.hobbies__title{
    
    margin: 0 0 2rem 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color:var(--color-titulos)
}

div.hobbies__line{

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div.hobbies__box{
    background: var(--cpçpr-caixas);
    width: 11rem;
    height: 10.875rem;
    display: flex;
}

div.hobbies__box ul{
    align-items: center;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
}

li.hobbies__img{
    padding-bottom: 16px;
}

.hobbies__box img{
    width: 2rem;
}

.hobbies__name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

@media screen and (max-width: 1024px){
    section.hobbies{
        padding: 2rem;
    }

    h3.hobbies__title{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
    }

    div.hobbies__box{
        width: 14rem;
        height: 7.375rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

}